
target/
dbt_packages/
logs/
.venv/
venv/
**/__pycache__/
*.py[cod]
*.log

.env
.env.*
!.env.example

Data/creds
Data/*.csv

logs/
airflow/logs/
thundereats/target/
thundereats/logs/
thundereats/dbt_packages/
thundereats/profiles.yml